# 4. 데이터 파일 읽어오기

## 4-1. CSV 파일
* Comma Separated Value의 약자, 쉼표로 구분된 파일
* 엑셀보다 CSV

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 1. URL을 통해 CSV 파일 가져오기
d = pd.read_csv('http://bit.ly/ds-korean-idol')
d

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [3]:
# 2. 로컬에 있는 CSV 파일 읽어오기
d2 = pd.read_csv('../data/korean-idol.csv')
d2

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [4]:
# 3. 엑셀 파일 읽어오기
d3 = pd.read_excel('../data/korean-idol.xlsx')
d3

      이름     그룹      소속사  성별       생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자 1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자 1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자 1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자 1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자 1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자 1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자 1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자 1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자 1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자 1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자 1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자 1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자 1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자 1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자 1993-03-09  174.0   O   2925442

In [5]:
# 4. Kaggle API로 데이터 가져오기
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.5.12.tar.gz (58 kB)
Requirement already satisfied: six>=1.10 in c:\users\choiminseo\anaconda3\lib\site-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in c:\users\choiminseo\anaconda3\lib\site-packages (from kaggle) (2020.6.20)
Requirement already satisfied: python-dateutil in c:\users\choiminseo\anaconda3\lib\site-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in c:\users\choiminseo\anaconda3\lib\site-packages (from kaggle) (2.24.0)
Requirement already satisfied: tqdm in c:\users\choiminseo\anaconda3\lib\site-packages (from kaggle) (4.50.2)
Collecting python-slugify
  Downloading python-slugify-4.0.1.tar.gz (11 kB)
Requirement already satisfied: urllib3 in c:\users\choiminseo\anaconda3\lib\site-packages (from kaggle) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\choiminseo\anaconda3\lib\site-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\choiminseo\anaconda3\lib\site-packages (from requests->kaggle) (2.10)
Collecting text-unidecode>=1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Building wheels for collected packages: kaggle, python-slugify
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.5.12-py3-none-any.whl size=73057 sha256=4bac015971dc9b63799309ed968ac011a3ba6338c9f13bce6957c30463c60dbc
  Stored in directory: c:\users\choiminseo\appdata\local\pip\cache\wheels\29\da\11\144cc25aebdaeb4931b231e25fd34b394e6a5725cbb2f50106
  Building wheel for python-slugify (setup.py): started
  Building wheel for python-slugify (setup.py): finished with status 'done'
  Created wheel for python-slugify: filename=python_slugify-4.0.1-py2.py3-none-any.whl size=6772 sha256=3851fd350f4894f9643cdd9855c3eb7001c6f1f1a7895232a2fa68b9d6c27a92
  Stored in directory: c:\users\choiminseo\appdata\local\pip\cache\wheels\91\4d\4f\e740a68c215791688c46c4d6251770a570e8dfea91af1acb5c
Successfully built kaggle python-slugify
Installing collected packages: text-unidecode, python-slugify, kaggle
Successfully installed kaggle-1.5.12 python-slugify-4.0.1 text-unidecode-1.3

In [7]:
# kaggle version
!kaggle --version

Kaggle API 1.5.12

In [9]:
!kaggle competitions download -c titanic

Downloading titanic.zip to c:\JupyterLab\20_Pandas

  0%|          | 0.00/34.1k [00:00<?, ?B/s]
100%|##########| 34.1k/34.1k [00:00<00:00, 11.5MB/s]

In [10]:
!kaggle datasets download -d datasnaek/youtube-new

Downloading youtube-new.zip to c:\JupyterLab\20_Pandas

  0%|          | 0.00/201M [00:00<?, ?B/s]
  2%|1         | 4.00M/201M [00:00<00:06, 33.9MB/s]
  2%|2         | 5.00M/201M [00:00<00:19, 10.6MB/s]
  5%|4         | 10.0M/201M [00:00<00:14, 13.8MB/s]
  7%|7         | 15.0M/201M [00:00<00:11, 17.1MB/s]
  9%|8         | 18.0M/201M [00:01<00:22, 8.36MB/s]
 11%|#         | 22.0M/201M [00:01<00:17, 11.0MB/s]
 13%|#2        | 26.0M/201M [00:01<00:13, 14.0MB/s]
 15%|#5        | 31.0M/201M [00:01<00:10, 17.7MB/s]
 18%|#7        | 36.0M/201M [00:01<00:07, 21.7MB/s]
 20%|##        | 41.0M/201M [00:02<00:06, 25.7MB/s]
 22%|##2       | 45.0M/201M [00:02<00:05, 27.4MB/s]
 25%|##4       | 50.0M/201M [00:02<00:05, 30.8MB/s]
 27%|##7       | 55.0M/201M [00:02<00:04, 33.8MB/s]
 30%|##9       | 60.0M/201M [00:02<00:04, 36.4MB/s]
 32%|###2      | 65.0M/201M [00:02<00:03, 38.2MB/s]
 35%|###4      | 70.0M/201M [00:02<00:03, 40.1MB/s]
 37%|###7      | 75.0M/201M [00:02<00:03, 37.9MB/s]
 40%|###9      | 80.0M/201M [00:03<00:03, 36.7MB/s]
 42%|####2     | 85.0M/201M [00:03<00:03, 38.2MB/s]
 44%|####4     | 89.0M/201M [00:03<00:06, 19.2MB/s]
 47%|####6     | 94.0M/201M [00:03<00:04, 23.1MB/s]
 49%|####9     | 99.0M/201M [00:03<00:03, 27.0MB/s]
 52%|#####1    | 104M/201M [00:03<00:03, 30.9MB/s]
 54%|#####4    | 109M/201M [00:04<00:02, 34.1MB/s]
 57%|#####6    | 114M/201M [00:04<00:02, 37.1MB/s]
 59%|#####9    | 119M/201M [00:04<00:02, 38.5MB/s]
 62%|######1   | 124M/201M [00:04<00:01, 40.7MB/s]
 64%|######4   | 129M/201M [00:04<00:01, 42.0MB/s]
 67%|######6   | 134M/201M [00:04<00:01, 42.9MB/s]
 69%|######9   | 139M/201M [00:04<00:01, 43.3MB/s]
 72%|#######1  | 144M/201M [00:04<00:01, 44.2MB/s]
 74%|#######4  | 149M/201M [00:05<00:01, 34.5MB/s]
 76%|#######6  | 153M/201M [00:05<00:01, 31.9MB/s]
 78%|#######8  | 157M/201M [00:05<00:01, 33.8MB/s]
 81%|########  | 162M/201M [00:05<00:01, 36.1MB/s]
 83%|########3 | 167M/201M [00:05<00:00, 38.2MB/s]
 86%|########5 | 172M/201M [00:05<00:00, 40.2MB/s]
 88%|########7 | 176M/201M [00:05<00:00, 39.5MB/s]
 90%|########9 | 180M/201M [00:05<00:00, 40.1MB/s]
 92%|#########2| 185M/201M [00:06<00:00, 38.0MB/s]
 95%|#########4| 190M/201M [00:06<00:00, 39.2MB/s]
 97%|#########6| 194M/201M [00:06<00:00, 21.5MB/s]
 99%|#########8| 198M/201M [00:06<00:00, 25.0MB/s]
100%|##########| 201M/201M [00:06<00:00, 30.7MB/s]