# 10. DataFrame 합치기

In [1]:
import numpy as np
import pandas as pd

In [2]:
d1 = pd.read_csv('../data/korean-idol.csv')
d2 = pd.read_csv('http://bit.ly/ds-korean-idol-2')
d2

      이름    연봉  가족수
0     지민  3000    3
1   지드래곤  3500    3
2   강다니엘  3200    4
3      뷔  3050    4
4     화사  4300    3
5     정국  2900    5
6     민현  3400    6
7     소연  4500    5
8      진  4200    4
9    하성운  4300    4
10    태연  3700    3
11   차은우  3850    5
12    백호  3900    4
13    JR  4100    3
14    슈가  4150    3

## 10-1. DataFrame 합치기 (concat)

### Row 기준으로 합치기

In [3]:
d1_copy = d1.copy()
d1_copy

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [4]:
d_concat = pd.concat([d1, d1_copy])
d_concat

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [5]:
d_concat.reset_index(drop=True)

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442
15    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
16  지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
17  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
18     뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
19    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
20    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
21    민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
22    소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
23     진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
24   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
25    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
26   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
27    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
28    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
29    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [6]:
# 행 인덱스 라벨을 기준으로 붙임
d_concat = pd.concat([d1, d2], axis=1)
d_concat

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수    이름    연봉  가족수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260    지민  3000    3
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947  지드래곤  3500    3
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745  강다니엘  3200    4
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501     뷔  3050    4
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928    화사  4300    3
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335    정국  2900    5
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792    민현  3400    6
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615    소연  4500    5
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308     진  4200    4
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489   하성운  4300    4
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661    태연  3700    3
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027   차은우  3850    5
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654    백호  3900    4
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137    JR  4100    3
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442    슈가  4150    3

In [7]:
# d1 : 행 인덱스 라벨 1 삭제 (지드래곤)
d1.drop(1, inplace=True)
d1

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [8]:
# d2 : 행 인덱스 라벨 3, 5 삭제 (뷔, 정국)
d2.drop([3, 5], inplace=True)
d2

      이름    연봉  가족수
0     지민  3000    3
1   지드래곤  3500    3
2   강다니엘  3200    4
4     화사  4300    3
6     민현  3400    6
7     소연  4500    5
8      진  4200    4
9    하성운  4300    4
10    태연  3700    3
11   차은우  3850    5
12    백호  3900    4
13    JR  4100    3
14    슈가  4150    3

In [9]:
d_concat = pd.concat([d1, d2], axis=1)
d_concat

,이름,그룹,소속사,성별,생년월일,키,혈액형,브랜드평판지수,이름,연봉,가족수
0,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260.0,지민,3000.0,3.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,지드래곤,3500.0,3.0
2,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745.0,강다니엘,3200.0,4.0
3,뷔,방탄소년단,빅히트,남자,1995-12-30,178.0,AB,8073501.0,NaN,NaN,NaN
4,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928.0,화사,4300.0,3.0
5,정국,방탄소년단,빅히트,남자,1997-09-01,178.0,A,5208335.0,NaN,NaN,NaN
6,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792.0,민현,3400.0,6.0
7,소연,아이들,큐브,여자,1998-08-26,NaN,B,4668615.0,소연,4500.0,5.0
8,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308.0,진,4200.0,4.0
9,하성운,핫샷,스타크루이엔티,남자,1994-03-22,167.1,A,4036489.0,하성운,4300.0,4.0
10,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661.0,태연,3700.0,3.0
11,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027.0,차은우,3850.0,5.0
12,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654.0,백호,3900.0,4.0
13,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137.0,JR,4100.0,3.0
14,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442.0,슈가,4150.0,3.0

In [10]:
d1.reset_index(drop=True, inplace=True)
d1

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
2      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
3     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
4     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
5     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
6     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
7      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
8    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
9     태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
10   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
11    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
12    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
13    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [11]:
d2.reset_index(drop=True, inplace=True)
d2

      이름    연봉  가족수
0     지민  3000    3
1   지드래곤  3500    3
2   강다니엘  3200    4
3     화사  4300    3
4     민현  3400    6
5     소연  4500    5
6      진  4200    4
7    하성운  4300    4
8     태연  3700    3
9    차은우  3850    5
10    백호  3900    4
11    JR  4100    3
12    슈가  4150    3

In [12]:
# concat은 인덱스 라벨 기준으로 데이터를 붙임
# 인덱스 라벨이 달라지면 데이터 불일치가 발생할 수 있음
d_concat = pd.concat([d1, d2], axis=1)
d_concat

,이름,그룹,소속사,성별,생년월일,키,혈액형,브랜드평판지수,이름,연봉,가족수
0,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260,지민,3000.0,3.0
1,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745,지드래곤,3500.0,3.0
2,뷔,방탄소년단,빅히트,남자,1995-12-30,178.0,AB,8073501,강다니엘,3200.0,4.0
3,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928,화사,4300.0,3.0
4,정국,방탄소년단,빅히트,남자,1997-09-01,178.0,A,5208335,민현,3400.0,6.0
5,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792,소연,4500.0,5.0
6,소연,아이들,큐브,여자,1998-08-26,NaN,B,4668615,진,4200.0,4.0
7,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308,하성운,4300.0,4.0
8,하성운,핫샷,스타크루이엔티,남자,1994-03-22,167.1,A,4036489,태연,3700.0,3.0
9,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661,차은우,3850.0,5.0
10,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027,백호,3900.0,4.0
11,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654,JR,4100.0,3.0
12,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137,슈가,4150.0,3.0
13,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442,NaN,NaN,NaN

## 10-2. DataFrame 병합하기 (Merge)
* merge : 특정 키를 기준으로 병합하기 (예: d1과 d2의 이름을 기준으로 병합하기)
* Database의 Join문과 유사
* pd.merge(left, right, on, how)
    * left, right에는 병합할 dataframe
    * on에는 병합의 기준이 되는 컬럼
    * how에는 'left', 'right', 'inner', 'outer' 4가지 병합 방식 중 한가지 선택

### 1) left, right 방식

In [13]:
# how='left'를 주면, left dataframe을 기준으로 병합이 됨 (데이터 갯수 14개)
pd.merge(d1, d2, on='이름', how='left')

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수      연봉  가족수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260  3000.0  3.0
1   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745  3200.0  4.0
2      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501     NaN  NaN
3     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928  4300.0  3.0
4     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335     NaN  NaN
5     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792  3400.0  6.0
6     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615  4500.0  5.0
7      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308  4200.0  4.0
8    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489  4300.0  4.0
9     태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661  3700.0  3.0
10   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027  3850.0  5.0
11    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654  3900.0  4.0
12    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137  4100.0  3.0
13    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442  4150.0  3.0

In [14]:
# how='right'를 주면, right dataframe을 기준으로 병합이 됨 (데이터 갯수 13개)
pd.merge(d1, d2, on='이름', how='right')

      이름     그룹      소속사   성별        생년월일      키  혈액형     브랜드평판지수    연봉  가족수
0     지민  방탄소년단      빅히트   남자  1995-10-13  173.6    A  10523260.0  3000    3
1   지드래곤    NaN      NaN  NaN         NaN    NaN  NaN         NaN  3500    3
2   강다니엘    NaN      커넥트   남자  1996-12-10  180.0    A   8273745.0  3200    4
3     화사    마마무      RBW   여자  1995-07-23  162.1    A   7650928.0  4300    3
4     민현   뉴이스트     플레디스   남자  1995-08-09  182.3    O   4989792.0  3400    6
5     소연    아이들       큐브   여자  1998-08-26    NaN    B   4668615.0  4500    5
6      진  방탄소년단      빅히트   남자  1992-12-04  179.2    O   4570308.0  4200    4
7    하성운     핫샷  스타크루이엔티   남자  1994-03-22  167.1    A   4036489.0  4300    4
8     태연   소녀시대       SM   여자  1989-03-09    NaN    A   3918661.0  3700    3
9    차은우   아스트로     판타지오   남자  1997-03-30  183.0    B   3506027.0  3850    5
10    백호   뉴이스트     플레디스   남자  1995-07-21  175.0   AB   3301654.0  3900    4
11    JR   뉴이스트     플레디스   남자  1995-06-08  176.0    O   3274137.0  4100    3
12    슈가  방탄소년단      빅히트   남자  1993-03-09  174.0    O   2925442.0  4150    3

### 2) innter, outer 방식
* inner방식은 두 dataframe에 모두 키값이 존재하는 경우에만 병합
* outer방식은 하나의 dataframe에 키값이 존재하는 경우 모두 병합 -> 없는 값은 NaN으로 대입

In [15]:
# inner : 데이터 갯수 12개
pd.merge(d1, d2, on='이름', how='inner')

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수    연봉  가족수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260  3000    3
1   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745  3200    4
2     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928  4300    3
3     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792  3400    6
4     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615  4500    5
5      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308  4200    4
6    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489  4300    4
7     태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661  3700    3
8    차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027  3850    5
9     백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654  3900    4
10    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137  4100    3
11    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442  4150    3

In [16]:
# outer : 데이터 갯수 15개
pd.merge(d1, d2, on='이름', how='outer')

      이름     그룹      소속사   성별        생년월일      키  혈액형     브랜드평판지수      연봉  가족수
0     지민  방탄소년단      빅히트   남자  1995-10-13  173.6    A  10523260.0  3000.0  3.0
1   강다니엘    NaN      커넥트   남자  1996-12-10  180.0    A   8273745.0  3200.0  4.0
2      뷔  방탄소년단      빅히트   남자  1995-12-30  178.0   AB   8073501.0     NaN  NaN
3     화사    마마무      RBW   여자  1995-07-23  162.1    A   7650928.0  4300.0  3.0
4     정국  방탄소년단      빅히트   남자  1997-09-01  178.0    A   5208335.0     NaN  NaN
5     민현   뉴이스트     플레디스   남자  1995-08-09  182.3    O   4989792.0  3400.0  6.0
6     소연    아이들       큐브   여자  1998-08-26    NaN    B   4668615.0  4500.0  5.0
7      진  방탄소년단      빅히트   남자  1992-12-04  179.2    O   4570308.0  4200.0  4.0
8    하성운     핫샷  스타크루이엔티   남자  1994-03-22  167.1    A   4036489.0  4300.0  4.0
9     태연   소녀시대       SM   여자  1989-03-09    NaN    A   3918661.0  3700.0  3.0
10   차은우   아스트로     판타지오   남자  1997-03-30  183.0    B   3506027.0  3850.0  5.0
11    백호   뉴이스트     플레디스   남자  1995-07-21  175.0   AB   3301654.0  3900.0  4.0
12    JR   뉴이스트     플레디스   남자  1995-06-08  176.0    O   3274137.0  4100.0  3.0
13    슈가  방탄소년단      빅히트   남자  1993-03-09  174.0    O   2925442.0  4150.0  3.0
14  지드래곤    NaN      NaN  NaN         NaN    NaN  NaN         NaN  3500.0  3.0

In [19]:
# column명이 다른 경우 Merge하기
d2.columns = ['성함', '연봉', '가족수']
d2

      성함    연봉  가족수
0     지민  3000    3
1   지드래곤  3500    3
2   강다니엘  3200    4
3     화사  4300    3
4     민현  3400    6
5     소연  4500    5
6      진  4200    4
7    하성운  4300    4
8     태연  3700    3
9    차은우  3850    5
10    백호  3900    4
11    JR  4100    3
12    슈가  4150    3

In [20]:
pd.merge(d1, d2, left_on='이름', right_on='성함', how='outer')

,이름,그룹,소속사,성별,생년월일,키,혈액형,브랜드평판지수,성함,연봉,가족수
0,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260.0,지민,3000.0,3.0
1,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745.0,강다니엘,3200.0,4.0
2,뷔,방탄소년단,빅히트,남자,1995-12-30,178.0,AB,8073501.0,NaN,NaN,NaN
3,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928.0,화사,4300.0,3.0
4,정국,방탄소년단,빅히트,남자,1997-09-01,178.0,A,5208335.0,NaN,NaN,NaN
5,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792.0,민현,3400.0,6.0
6,소연,아이들,큐브,여자,1998-08-26,NaN,B,4668615.0,소연,4500.0,5.0
7,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308.0,진,4200.0,4.0
8,하성운,핫샷,스타크루이엔티,남자,1994-03-22,167.1,A,4036489.0,하성운,4300.0,4.0
9,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661.0,태연,3700.0,3.0
10,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027.0,차은우,3850.0,5.0
11,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654.0,백호,3900.0,4.0
12,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137.0,JR,4100.0,3.0
13,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442.0,슈가,4150.0,3.0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,지드래곤,3500.0,3.0